<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.ssafy.dto.Food" alias="food" />
		<typeAlias type="com.ssafy.dto.Member" alias="member" />
		<typeAlias type="com.ssafy.dto.Notice" alias="notice" />
		<typeAlias type="com.ssafy.dto.QnA" alias="qna" />
		<typeAlias type="com.ssafy.dto.Comment" alias="comment" />
		<typeAlias type="com.ssafy.dto.Pagination" alias="pagination" />
		<typeAlias type="com.ssafy.dto.EatList" alias="eatlist" />

	</typeAliases>

	<mappers>
		<mapper resource="mapper/foodmapper.xml" />
		<mapper resource="mapper/membermapper.xml" />
		<mapper resource="mapper/noticemapper.xml" />
		<mapper resource="mapper/qnamapper.xml" />
		<mapper resource="mapper/eatlistmapper.xml" />
		<mapper resource="mapper/commentmapper.xml" />

	</mappers>

</configuration>