<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.noticemapper">
	<select id="select" resultType="notice" parameterType="int">
		select * from notice
		<if test="value!=null">
			where no = #{id}
		</if>
		order by no desc;
	</select>
	<select id="searchByCondition" resultType="notice"
		parameterType="hashmap">
		select * from notice
		<where>
			<choose>
				<when test="condition=='title'">
					title like #{key}
				</when>
				<when test="condition== 'content'">
					content like #{key}
				</when>

				<otherwise>
					
				</otherwise>

			</choose>
		</where>
	</select>



	<update id="update" parameterType="notice">
		update notice set
		title =#{title},
		content=#{content}
		where no=#{no}
	</update>

	<delete id="delete" parameterType="int">
		delete from notice where
		no=#{id}
	</delete>

	<insert id="insert" parameterType="notice">
		insert into
		notice(id,title,content)
		values(#{id}, #{title},#{content} )
	</insert>


	<select id="getViewCnt" parameterType="int">
		select viewcnt from notice
		where no = #{id}
	</select>


	<update id="addViewCnt" parameterType="int">
		update notice
		set
		viewcnt=viewcnt+1
		where no = #{id}
	</update>


	<select id="getBoardList" resultType="notice">
		SELECT * FROM notice
		ORDER BY no DESC
		LIMIT #{startList}, #{listSize}
	</select>
	
	<select id="getBoardListCnt" resultType="int">

		SELECT
			count(*) as listCnt
		FROM
			notice

	</select>
</mapper>