<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: pakage + class name : mapper를 구별하기 위한 이름 -->
<mapper namespace="com.ssafy.model.eatlistmapper">



	<select id="getTargetDateEatList" resultType="eatlist" parameterType="map">
		select *
		 from eatlist
		 where id = #{id} and eatdate=#{targetdate}
	</select>

	
	<insert id="addTargetDateEatList" parameterType="eatlist">
		insert into eatlist(code,id,cnt,eatdate) values( #{code},  #{id}, #{cnt}, #{eatdate});
	</insert>


	<update id="updateTargetDateEatList" parameterType="eatlist">
		update eatlist
		set
		code=#{code},
		cnt=#{cnt},
		eatdate=#{eatdate}
		where no=#{no}
	</update>

	<delete id="deleteTargetDateEatList" parameterType="eatlist">
		delete from eatlist 
		where id = #{id} and eatdate=#{eatdate} and code=#{code}
	</delete> 


</mapper>