<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.model.membermapper">
 	<select id="select" resultType="member" parameterType="string">
		select * from tmember 
		<if test ="value!=null">
			where id = #{id}
		</if>
	</select>
	
	<update id="update" parameterType="member">
		update tmember set password=#{password}, name=#{name}, email=#{email}, 
							phone=#{phone}, address=#{address}, allergy=#{allergy}, wishlist=#{wishlist} where id=#{id} 
	</update>
	
	<delete id="delete" parameterType="string">
		delete from tmember where id=#{id}
	</delete>
	
	<insert id="insert" parameterType="member">
		insert into tmember(id,password,name,email,phone,address,allergy,wishlist) 
		  values(#{id},#{password},#{name},#{email},#{phone},#{address},#{allergy},#{wishlist} )
	</insert>
</mapper>