<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper file: 실행 할 쿼리 문을 저장하는 파일. 테이블 하나당 한개씩 작성 namespace: 작업하는 테이블들을 
	구분해주기 위한 식별자 -->
<mapper namespace="volunteer">

	
	<select id="getReg" parameterType="java.util.Map" resultType="int">
		select r_id
		from region
		where
		r_sidoCd = #{sidoCd} and r_gugunCd = #{gugunCd}
	</select>
	
	<select id="getCate" resultType="int">
		select ca_id
		from category
		where
		ca_highNm = #{highNm} and ca_lowNm = #{lowNm}
	</select>
	
	<!-- 카테고리 코드는 빼두기 -->
 	<insert id="addVol" parameterType="Vol">
		insert into vol(v_title, v_organ, v_pBgnD, v_pEndD, v_pStatus, v_adult, v_young, v_location, v_mBgnD, v_mEndD, v_url, ca_id, r_id, v_Auth) values(#{progrmSj}, #{nanmmbyNm}, #{progrmBgnde}, #{progrmEndde}, #{progrmSttusSe}, #{adultPosblAt}, #{yngbgsPosblAt}, #{actPlace}, #{noticeBgnde}, #{noticeEndde}, #{url}, #{cateCd},#{regionCd}, #{progrmRegistNo})
	</insert>
	
	<insert id="addReg" parameterType="Region">
		insert into region(r_sidoCd, r_gugunCd, r_sidoNm, r_gugunNm) values(#{sidoCd}, #{gugunCd}, #{sidoNm}, #{gugunNm})
	</insert>
	
	<insert id="addCate" parameterType="Category">
		insert into category(ca_highCd, ca_highNm, ca_lowCd, ca_lowNm) values(#{highClsCd}, #{hignClsNm}, #{lowClsCd}, #{lowClsNm})
	</insert>
</mapper>
